<div class="container">
    <mat-card>
        <form>
            <div>
                <h1>MateR</h1>
                <h5>Select Account</h5>
                <hr>
                <div class="button-container">
                    <button class="btn" (click)="signInWithGoogle($event)">Sign in with Google</button>
                    <button class="btn" (click)="signInWithFacebook($event)">Sign in with Facebook</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>